.perfil{
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.photo-user{
    margin-top: 5%;
    width: 60%;
    border-radius: 50%;
}
.usuarioNombre{
    width: 90%;
}
.usuarioDescripcion{
    margin-right: auto;
    margin-left: 5%;
}