.contenedor-global{
    display: flex;
    background: linear-gradient(to right,
        #020202,
        #141414,
        #1a1f1a,
        #141414);
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.chat{
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 100%;
    padding: 1vh 2vh;
    margin-top: auto;
    margin-bottom: 1rem;
    background-color: rgba(21, 21, 21, 0.774);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.284);
}
.contenedor-main{
    display: flex;
    height: 95vh;
    width: 50%;
    justify-content: center;
    flex-direction: column;
}
.txt-title-group{
    height: min-content;
    width: 100%;
}
.navegador-chats{
    width: 20%;
    height: 95vh;
    display: flex;
    margin-top: 1rem;
    background-color:#111111;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.284);
}

.chat-uwu ul{   
    list-style: none;
}
