.contenedor-global{
    display: flex;
    background-color: #1d1d1d;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.chat{
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 70%;
    margin-top: auto;
    margin-bottom: 1rem;
    background-color: rgb(21, 21, 21);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.284);
}
.contenedor-main{
    display: flex;
    height: 95vh;
    width: 70%;
}
.navegador-chats{
    width: 20%;
    height: 95vh;
    display: flex;
    background-color: red;
    margin-top: 1rem;
    background-color: rgb(21, 21, 21);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.284);
}
.chat-uwu{

}
.chat-uwu ul{   
    list-style: none;
}